/* #ece6cd
#f9ac67
#ee6a59
#3a3f58 */
* {
    box-sizing: border-box;
}

html, body {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

.fa {
    color: #3a3f58;
}

#home-button {
    position: fixed;
    padding: 1.3rem 0;
    background-color: #ee6a59;
	width: 4rem;
	height: 4rem;
	bottom: 40px;
	left: 60px;
	border-radius:50px;
    text-align:center;
	box-shadow: 2px 2px 3px #999;
}

#home-button i {
    color: #ece6cd;
}

#login-button {
    position: fixed;
    padding: 1rem;
    background-color: #ee6a59;
	width: 7rem;
	height: 3rem;
	top: 30px;
	right: 40px;
	border-radius:5px;
    text-align:center;
	box-shadow: 2px 2px 3px #999;
}

#login-button i, a {
    color: #ece6cd;
    text-decoration: none;
}

.main {
    display: grid;
    grid-template-columns: 30% auto;
    justify-content: center;
    align-content: center;
}

#navbar {
    background-color: #f9ac67;
    padding: 10%;
    padding-top: 20%;
    text-align: right;
    border-right: 1rem solid #ee6a59;
}

#nav-pic {
    width: 50%;
    padding-bottom: 50%;
    display: inline-block;
    overflow: hidden;
    position: relative;
}

#nav-pic img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    object-fit: cover;
}

#navbar h1 {
    padding: 0;
    margin-top: 1rem;
}

#navbar ul {
    margin-top: 30%;
    list-style: none;
    line-height: 1.6rem;
}

#navbar a {
    color: #3a3f58;
    font-weight: bold;
}

#navbar a:hover {
    font-size: large;
    color: #4d588a;
    font-weight: bold;
}

#content {
    background-color: #ece6cd;
    padding: 3rem;
}

#content h1 {
    color: #3a3f58;
    font-size: 3rem;
    text-shadow: 2px 2px rgb(0,0,0,0.2);
    margin-top: 15%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.cards h3 {
    color: #fff;
}

.card {
    flex: 0 1 calc(100% - 1em);
    margin: 1em .5rem;
    height: 20rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-top: 0.5rem solid #3a3f58;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}


.card-img {
    height: 10rem;
    overflow: hidden;
    position: relative;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Add some padding inside the card container */
.card-container {
    background-color: #3a3f58;
    color: #fff;
    padding: 1rem 2rem;
    height: 10rem;
}

@media screen and (min-width: 1024px) { 
    .card {
        flex: 0 1 calc(50% - 1em);
    }
}

@media screen and (min-width: 1600px) { 
    .card {
        flex: 0 1 calc(33.3% - 1em);
    }
}

@media screen and (min-width: 1920px) { 
    .card {
        flex: 0 1 calc(25% - 1em);
    }
}

#mockup-form label {
    color: #3a3f58;
}

#mockup-form input[type=text], input[type=email], select , textarea{
    border: none;
    border-left: 0.5rem solid #3a3f58;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0 2rem 0;
    display: block;
    width: 80%;
}

#mockup-form input[type=submit] {
    border: none;
    padding: 0.5rem;
    background-color: #3a3f58;
    color: #fff;
    cursor: pointer;
    width: 80%;
}

#mockup-form input[type=submit]:hover {
  background-color: #2a2d42;
}